@import "../../variables";

.topic-container {
  width: 600px;
  border: 1px solid $contact-form-border-color;
  border-radius: $contact-form-border-radius;
  padding: 1px;
  margin: auto;

  header {
    background: $contact-form-border-color;
    color: $contact-form-text-color;
    border-radius: $contact-form-border-radius $contact-form-border-radius 0 0;
    padding: $contact-form-padding;
  }

  .topic-body {
    padding: 10px;
  }
}
